manifest {
    mainScript = 'main.nf'
    name = 'genome_to_json'
}

// default parameters
params {
    cores = Runtime.runtime.availableProcessors().intdiv(4)
    help = false
    max_cores = Runtime.runtime.availableProcessors()
    memory = '12'
    profile = false

    // inputs
    fasta = ''

    // general settings
    cloudProcess = false
    deep_json = false   
    new_entry = false
    split_fasta = false

    // tool settings
    abricate_coverage = '80'
    abricate_identity = '80'
    abricate_update = false
    species = false 

    // tool-switches
    abricate = false
    bakta = false
    busco = false
    eggnog = false
    pgap = false
    prokka = false
    sourmash = false

    // folder structure
    abricatedir = "2.abricate"
    baktadir = "3.bakta"
    buscodir = "4.busco"
    databases = "databases"
    eggnogdir = "5.eggnog"
    jsondir = "1.json-summaries"
    output = "results"
    prokkadir = "6.prokka"
    runinfodir = "X.Pipeline-runinfo"
    sourmashdir = "7.sourmash"

    //  databases
    bakta_db = false
    busco_db = 'bacteria_odb10.2020-03-06.tar.gz'
    pgap_db = false
    pgap_v = "2022-10-03.build6384"
}


// runinfo
timeline {
  enabled = true
  file = "${params.output}/${params.runinfodir}/execution_timeline.html"
}

report {
  enabled = true
  file = "${params.output}/${params.runinfodir}/execution_report.html"
}


profiles {
    local {
        workDir = "work/nextflow-genometojson-$USER"
        includeConfig 'configs/local.config'
        executor {
            name = "local"
            cpus = params.max_cores
            memory = params.memory
        }

        process { errorStrategy = { task.exitStatus in [10,14,143,137,104,134,139] ? 'retry' : 'terminate' } }
    }


    docker {
        docker { 
            enabled = true
            fixOwnership = true
        }
        includeConfig 'configs/container.config'
    }

    stub {
        params {
            max_cores = 2
            cores = 2
            species = "Escherichia coli"
        }
    }

    
    ukj_cloud { 
        workDir = "/tmp/nextflow-genometojson-$USER"
        docker { enabled = true }
        process {
            executor = 'google-lifesciences'
            // cloud error strategy
            errorStrategy = { task.exitStatus in [10,14,143,137,104,134,139] ? 'retry' : 'ignore' }
            maxRetries = 3
     }
        params {
            databases = 'gs://persistant-storage/genome_to_json'
        }

        bucketDir = 'gs://case-tmp-dir/genome-to-json/'
        google {  
            project = 'case-dev-302214'
            zone = 'europe-west1-b,europe-west1-c,europe-west2-b,europe-west2-a'
            lifeSciences.preemptible = true
            lifeSciences.bootDiskSize = 20.GB
            }
        includeConfig 'configs/container.config'
        includeConfig 'configs/nodes.config'

        }

    //bootDiskSize increased to 100
    pgap_cloud { 
        workDir = "/tmp/nextflow-genometojson-$USER"
        docker { enabled = true }
        process {
            executor = 'google-lifesciences'
            // cloud error strategy
            errorStrategy = { task.exitStatus in [10,14,143,137,104,134,139] ? 'retry' : 'ignore' }
            maxRetries = 3
     }
        params {
            databases = 'gs://persistant-storage/genome_to_json'
        }

        bucketDir = 'gs://case-tmp-dir/genome-to-json/'
        google {  
            project = 'case-dev-302214'
            zone = 'europe-west1-b,europe-west1-c,europe-west2-b,europe-west2-a'
            lifeSciences.preemptible = true
            lifeSciences.bootDiskSize = 100.GB
            }
        includeConfig 'configs/container.config'
        includeConfig 'configs/nodes.config'

    }



// test_profile
    test_fasta {
    }
}

