process {
    withLabel:  abricate    { container = 'nanozoo/abricate:1.0.1--8960147'}
    withLabel:  busco       { container = 'nanozoo/busco:5.4.0--aeff139' }
    withLabel:  eggnog      { container = 'nanozoo/eggnog-mapper:2.1.9--4f2b6c0' }
    withLabel:  ggplot2     { container = 'nanozoo/ggplot2:3.3.1--303f617' }
    withLabel:  prokka      { container = 'nanozoo/prokka:1.14.6--c99ff65'}
    withLabel:  python3     { container = 'nanozoo/altair:4.1.0--086b80e' }
    withLabel:  sourmash    { container = 'nanozoo/sourmash:4.2.0--5f7b10b' }
    withLabel:  ubuntu      { container = 'nanozoo/template:3.8--e13dfeb' }
    withLabel:  rmarkdown   { container = 'nanozoo/rmarkdown:2.10--a3f4088' }
    withLabel:  bakta       { container = 'nanozoo/bakta:1.7.0--23ae510' } 
}
