process {
    withLabel:  abricate    { container = 'nanozoo/abricate:1.0.1--8960147'}
    withLabel:  prokka      { container = 'nanozoo/prokka:1.14.6--c99ff65'}
    withLabel:  python3     { container = 'nanozoo/altair:4.1.0--086b80e' }
    withLabel:  ubuntu      { container = 'nanozoo/template:3.8--e13dfeb' }
}
