process.executor = 'local'

process {
    withLabel:  ggplot2     { cpus = 1 }
    withLabel:  prokka      { cpus = params.cores }
    withLabel:  python3     { cpus = 1 }
    withLabel:  sourmash    { cpus = 4 }
    withLabel:  ubuntu      { cpus = 1 }
    withLabel:  bakta      { cpus = params.cores } 
 
}
