process {
    withLabel:  bakta       { cpus = 8; memory = '16 GB' }
    withLabel:  busco       { cpus = 4; memory = '8 GB' }
    withLabel:  eggnog      { cpus = 14; memory = '28 GB' }
    withLabel:  ggplot2     { cpus = 2 ; memory = '6 GB' }
    withLabel:  prokka      { cpus = 8; memory = '8 GB' }
    withLabel:  python3     { cpus = 1; memory = '2 GB' }
    withLabel:  rmarkdown   { cpus = 8; memory = '16 GB' }
    withLabel:  sourmash    { cpus = 8 ; memory = '24 GB' }
    withLabel:  ubuntu      { cpus = 2; memory = '2 GB' }
}
